    @font-face {
        src: url('ds_digital/DS-DIGIB.TTF');
        font-family: 'Digital';
    }
    
    body {
        background-color: #16181a;
    }
    
    @media screen and(min-width: 720px) {
        #hora {
            text-align: center;
            flex-wrap: nowrap;
            display: flex;
            margin-left: 40px;
        }
        #containerClock {
            margin-top: 255px;
            margin-left: 0;
            margin-right: 0;
            justify-content: center;
            display: flex;
            color: red;
            font-family: 'Digital', 'sans-serif';
            width: 1000px;
            border: 1px solid red;
            border-radius: 0;
            background-color: #000000;
            font-size: 150px;
        }
    }
    
    #hora {
        text-align: center;
        flex-wrap: nowrap;
        display: flex;
        margin-left: 40px;
    }
    
    #containerClock {
        margin-top: 255px;
        margin-left: 10%;
        margin-right: 0;
        justify-content: center;
        display: flex;
        color: red;
        font-family: 'Digital', 'sans-serif';
        width: 1000px;
        border: 1px solid red;
        border-radius: 0;
        background-color: #000000;
        font-size: 150px;
    }
    
    #question {
        display: flex;
        justify-content: flex-end;
        margin-top: 23%;
        color: red;
        font-size: 55px;
        font-family: sans-serif;
    }
    
    @media screen and (max-width: 720px) {
        #containerClock {
            margin-top: 6px;
            margin-left: 25%;
            margin-right: 0;
            flex-direction: column;
            justify-content: center;
            display: flex;
            font-family: 'Digital', 'sans-serif';
            width: 145px;
            border: 1px solid red;
            border-radius: 0;
            background-color: #000000;
            font-size: 100px;
        }
        #ano {
            color: red;
        }
        body {
            background-color: black;
        }
        #hora {
            text-align: center;
            justify-content: column;
            display: flex;
        }
        #hora {
            margin-left: 0;
        }
    }
    
    @media screen and (max-height: 640px) {
        #containerClock {
            margin-top: 6px;
            margin-left: 15%;
            margin-right: 0;
            flex-direction: column;
            justify-content: center;
            display: flex;
            font-family: 'Digital', 'sans-serif';
            width: 125px;
            border: 1px solid red;
            border-radius: 0;
            background-color: #000000;
            font-size: 66px;
        }
        #ano {
            color: red;
        }
        body {
            background-color: black;
        }
        #hora {
            text-align: center;
            justify-content: column;
            display: flex;
        }
        #hora {
            margin-left: 0;
        }
    }
    
    @media screen and (max-width: 360px) {
        #containerClock {
            margin-top: 6px;
            margin-left: 35%;
            margin-right: 0;
            flex-direction: column;
            justify-content: center;
            display: flex;
            font-family: 'Digital', 'sans-serif';
            width: 125px;
            border: 1px solid red;
            border-radius: 0;
            background-color: #000000;
            font-size: 90px;
        }
        #ano {
            color: red;
        }
        body {
            background-color: black;
        }
        #hora {
            text-align: center;
            justify-content: column;
            display: flex;
        }
        #hora {
            margin-left: 0;
        }
        #question {
            display: flex;
            justify-content: flex-end;
            margin-top: 10%;
            color: red;
            font-size: 55px;
        }
        #question {
            display: flex;
            justify-content: flex-end;
            margin-top: 5%;
            color: red;
            font-size: 55px;
            font-family: sans-serif;
        }
    }
    
    @media screen and (max-width: 800px) {
        #containerClock {
            margin-top: 6px;
            margin-left: 35%;
            margin-right: 0;
            flex-direction: column;
            justify-content: center;
            display: flex;
            font-family: 'Digital', 'sans-serif';
            width: 125px;
            border: 1px solid red;
            border-radius: 0;
            background-color: #000000;
            font-size: 90px;
        }
        #ano {
            color: red;
        }
        body {
            background-color: black;
        }
        #hora {
            text-align: center;
            justify-content: column;
            display: flex;
        }
        #hora {
            margin-left: 0;
        }
        #question {
            display: flex;
            justify-content: flex-end;
            margin-top: 10%;
            color: red;
            font-size: 55px;
        }
        #question {
            display: flex;
            justify-content: flex-end;
            margin-top: 5%;
            color: red;
            font-size: 55px;
            font-family: sans-serif;
        }
    }